.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 40px;
    background-color: var(--card-dark);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.subtitle {
    color: #8b949e;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 12px;
    color: #8b949e;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    background-color: #0d1117;
    border: 1px solid #30363d;
    padding: 12px;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    letter-spacing: 8px; /* Espaço entre os números do código */
    font-weight: bold;
}

input:focus {
    outline: none;
    border-color: var(--neon-green);
    box-shadow: 0 0 5px var(--neon-green);
}

button {
    width: 100%;
    padding: 15px;
    background-color: var(--neon-green);
    color: #0b0e14;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: var(--neon-text);
    box-shadow: 0 0 20px var(--neon-text);
    transform: translateY(-2px);
}